# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/File Type Analyzer (Java)/*
!/File Type Analyzer (Java)/task/
/File Type Analyzer (Java)/task/*
!/File Type Analyzer (Java)/task/src
